.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: none;
    color: black;
    border-color: red;
    border-width: 1px;
 }
body{
    background-color: bisque;
}
